<body>
<hr>

<img  class="img-fluid" src="assets/Top Banner.jpg" height="auto" width="1278">




 <!-- <div id="main">
  <div id="left">
    <button class="btn  ">Latest....</button>


  </div>

  <div id="center">
    <marquee direction="left" style=" padding-top: 2.5px;  height: 33px;width: 1039px; color: #FFFFFF" bgcolor="#00224f"
      onmouseover="this.stop()" onmouseout="this.start()" scrolldelay="200" behavior="loop">
      *ICEGATE users can now update their registered email ID through the Portal.Please click here for downloading the
      Email Change Advisory
    </marquee>

  </div>

  <div id="right">
    <button class="btn ">Last Updated Date</button>


  </div>
</div>  -->
  
<!-- <div class="box"><button class="btn">Latest........</button></div>
<div class="col-md-4"> 
  <marquee direction="left" style=" padding-top: 2.5px;  height: 33px;width: 1000px; color: #FFFFFF" bgcolor="#00224f"
      onmouseover="this.stop()" onmouseout="this.start()" scrolldelay="200" behavior="loop">
      *ICEGATE users can now update their registered email ID through the Portal.Please click here for downloading the
      Email Change Advisory
    </marquee>
</div>
<div class="box"> <button class="btn">Last Updated Date</button></div> -->


<div id="wrapper" >
  <div style="float:left;" class="content"><button class="btn">Latest........</button></div>
  
<div style="float:left;" class="content">
<marquee direction="left" style=" padding-top: 2px;width: 1022px;height: 33px; color: #FFFFFF" bgcolor="#00224f"
    onmouseover="this.stop()" onmouseout="this.start()" scrolldelay="200" behavior="loop">
    *ICEGATE users can now update their registered email ID through the Portal.Please click here for downloading the
    Email Change Advisory
  </marquee>
</div>
  <div style="  float:right;margin-right: 58px;" class="content"> <button class="btn" style="position:absolute;z-index: 3;">Last Updated Date</button></div>

</div>
<div>
  <router-outlet></router-outlet>
</div>
</body>